/*------------------------------------------------*/
/*---------------[ Content-right ]----------------*/
/*------------------------------------------------*/

body {
    width: auto;
    height: 100%;
    background: ;
}

.mainheader {
    height: 4%;
    width: 100%;
    margin: 0;
    float: left;
    display: block;
    border-bottom: 1px solid black;
    background: #9e9e9e;
    margin-bottom: 1%;
}

.cagecontainer {
    width: 96%;
    margin: 0 2%;
    float: left;
    display: block;
}

.twothirdsmainright {
    width: 63%;
    margin: 1% 2%;
    float: right;
    display: block;
    border: 1px solid black;
}

.onethirdsidebar {
    width: 29%;
    margin: 1% 2%;
    float: left;
    display: block;
    border: 1px solid black;
}

.mainfooter {
    height: 1rem;
    width: 100%;
    margin: 0;
    float: left;
    display: block;
    border-top: 1px solid black;
    background: #9e9e9e;
    margin-top: 1%;
}

.widget,
.post {
    margin: 0 auto;
    float: left;
    display: block;
    padding: 2%;
}

.alignleft,
.alignright {
    clear: both;
}


/*------------------------------------------------*/
/*---------------[ Media Queries ]----------------*/
/*------------------------------------------------*/

@media (min-width: 980px) {
}

@media (max-width: 979px) {  
}

@media (min-width: 960px) and (max-width: 1050px) {
}

@media (min-width: 789px) and (max-width: 959px) {
}

@media (max-width: 959px) {
}

@media (min-width: 480px) and (max-width: 959px) {
}

@media (max-width: 789px) {
    
    .twothirdsmainright {
        width: 96%;
        margin: 1% 2%;
        float: left;
        display: block;
        border: 1px solid black;
    }
    
    .onethirdsidebar {
        width: 96%;
        margin: 1% 2%;
        float: left;
        display: block;
        border: 1px solid black;
    }
     
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
}