/*------------------------------------------------*/
/*-------------[ Custom Page Layouts ]------------*/
/*------------------------------------------------*/

body {
    width: auto;
    height: 100%;
    background: ;
}

.mainheader {
    height: 4%;
    width: 100%;
    margin: 0;
    float: left;
    display: block;
    border-bottom: 1px solid black;
    background: #9e9e9e;
    margin-bottom: 1%;
}

.cagecontainer {
    width: 96%;
    margin: 0 2%;
    float: left;
    display: block;
}

.twothirdsmainleft {
    width: 63%;
    margin: 1% 2%;
    float: left;
    display: block;
    border: 1px solid black;
}

.twothirdsmainright {
    width: 63%;
    margin: 1% 2%;
    float: right;
    display: block;
    border: 1px solid black;
}

.onehalfmain {
    width: 48%;
    margin: 1%;
    float: left;
    display: block;
    border: 1px solid black;
}

.onethirdsidebar {
    width: 29%;
    margin: 1% 2%;
    float: left;
    display: block;
    border: 1px solid black;
}

.onefourthsidebar {
    width: 23%;
    margin: 1%;
    float: left;
    display: block;
    border: 1px solid black;
}

.fullmain {
    width: 98%;
    margin: 1%;
    border: 1px solid black;
    float: left;
    display: block;
}

.bottomsidebar {
    width: 98%;
    margin: 1%;
    border: 1px solid black;
    float: left;
    display: block;
}

.mainfooter {
    height: 1rem;
    width: 100%;
    margin: 0;
    float: left;
    display: block;
    border-top: 1px solid black;
    background: #9e9e9e;
    margin-top: 1%;
}

.widget,
.post {
    margin: 0 auto;
    float: left;
    display: block;
    padding: 2%;
}

.alignleft,
.alignright {
    clear: both;
}
