/*------------------------------------------------*/
/*-------------[ Content-Largeright ]-------------*/
/*------------------------------------------------*/

.headerlargeright {
    width: 48%;
    margin: 0 1% 1%;
    border: 1px solid black;
    background: ;
    float: left;
    display: block;
}

.navlargeright {
    width: 48%;
    margin: 0 1%;
    border: 1px solid black;
    background: ;
    float: left;
    display: block;
    clear: right;
}

.largerightcontainer {
    width: 100%;
}

.largerightcontent {
    width: 65%;
    margin: 0 1%;
    background: ;
    border: 1px solid black;
    float: right;
    display: block;
}

.largerightabout {
    width: 31%;
    margin: 0 1% 1%;
    background: ;
    border: 1px solid black;
    float: left;
    display: block;
}


.largerightexcess {
    width: 31%;
    margin: 0 1%;
    background: ;
    border: 1px solid black;
    float: left;
    display: block;
}

/*------------------------------------------------*/
/*---------------[ Media Queries ]----------------*/
/*------------------------------------------------*/

@media (min-width: 980px) {
}

@media (max-width: 979px) {    
}

@media (min-width: 960px) and (max-width: 1050px) {
}

@media (min-width: 789px) and (max-width: 959px) {
}

@media (max-width: 959px) {
}

@media (min-width: 480px) and (max-width: 959px) {
}

@media (max-width: 789px) {
    
    .largerightcontent {
        width: 96%;
        margin: 0 2% 1%;
        float: left;
        display: inline-block;
    }
    
    .largerightabout,
    .largerightexcess {
        width: 96%;
        margin: 0 2% 1%;
        float: left;
        display: inline-block;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
}
