/*------------------------------------------------*/
/*-------------[ Content-Abstract ]---------------*/
/*------------------------------------------------*/

.abstractcontainer {
    width: 100%;
}

.contentabstract {
    width: 65%;
    height: 100%;
    margin: 0 1% 5%; 
    padding: 0;
    border: 1px solid black;
    background: ;
    float: left;
    display: block;
}

.abstractsidebar {
    width: 31%;
    margin: 0% 1%;
    float: left;
    display: block;
    border: 1px solid black;
}

.header-abstract {
    float: right;
    width: 31%;
    height: 300px;
    right: 0;
    border: 1px solid black;
}

.nav-abstract {
    float: left;
    width: 65%;
    height: 75px;
    left: 0;
    border: 1px solid black;
}

.header-abstract,
.nav-abstract {
    display: block;
    position: fixed;
    bottom: 0;
    margin: 0 1%;
    z-index: 200;
    clear: both;
    background: grey;
}

/*------------------------------------------------*/
/*---------------[ Media Queries ]----------------*/
/*------------------------------------------------*/

@media (min-width: 980px) {
}

@media (max-width: 979px) {
}

@media (max-width: 1050px) {
    
    .contentabstract {
        margin: 0 1% 150px;
    }
    
    .headernav {
        border: 1px solid black;
        width: 98%;
        margin: 0 1%;
        height: 150px;
        float: left;
        background: rgb(183, 183, 183);
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 200;
        clear: both;
    }
    
    .header-abstract,
    .nav-abstract {
        width: 48%;
        height: 150px;
        margin: 0 1%;
        display: block;
        float: left;
        background: none;
        border: none;
    }
}

@media (max-width: 779px) {
    
    .contentabstract {
        width: 98%;
    }
    
    .abstractsidebar {
        display: none;
    }
    
}

@media (max-width: 959px) {
}

@media (min-width: 480px) and (max-width: 959px) {
}

@media (max-width: 789px) { 
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
}
